HOST=127.0.0.1
PORT=8000
#DATABASE_URL="mysql://root:@localhost/podcrab"
#DATABASE_URL="sqlite::memory:"
#DATABASE_URL="postgresql://user:password@localhost:5432/podcrab"
DATABASE_URL="sqlite:///podcrab.sqlite?mode=rwc"
