<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="author" content="Tommie Nygren"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/dist/main.css" rel="stylesheet">
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/dist/main.js" defer></script>
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
</head>
<body>
<div class="max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8">
    {% block content %}{% endblock content %}
</div>
</body>
</html>
